body {
  background-color: #FFFBE8;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: #636464;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #565757;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-word-wrapper {
  font-family: "Bubblegum Sans";
  font-size: 40px;
  color: #44538C;
  margin-right: 150px;
}

.Home-image {
  padding: 0 8px 0 0;
  position: relative;
  top: 11px;
}

.Purple-active:active {
  background-color: #44538C;
}

.Purple-active a {
  text-decoration: none;
  color: inherit;
}

.Main-menu-items {
  padding: 0 35px 0 0;
}

.Main-menu-items a {
  text-decoration: none;
}

.Main-banner-wrapper {
  position: relative;
  top: 0;
  left: 0;
}

.Main-banner-rectangle {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 100px;
}

.App-wrapper-container {
  padding: 0;
}

.Main-stories-section-title {
  font-size: 28px;
  color: #44538C;
  font-weight: bold;
  margin-bottom: 20px;
}

.Main-stories-section {
  background-color: #C3E968;
  padding: 80px;
}

.stories-card {
  margin-bottom: 40px;
}

.stories-card-tag-wrapper {
  margin-bottom: 20px;
}

.stories-card-tag {
  margin: 1px;
  background-color: #F6F6F6;
  border-color: #AEAFAC;
  border-width: 2px;
  padding: 1px 5px;
  font-weight: bold;
  font-size: 11px;
}

.stories-card-button {
  background-color: #44538C;
}

.stories-card-button:hover {
  background-color: #29335a !important;
}

.Main-stories-navigation-title {
  font-size: 28px;
  font-weight: bold;
  color: #C3E968;
  margin: 25px auto 10px auto;
}

.Main-stories-navigation {
  color: white;
  text-align: center;
  background-color: #44538C;
  padding: 20px 80px 80px 80px;
  border-radius: 40px;
  margin: 80px auto;
}

.Main-stories-navigation a {
  text-decoration: none;
  color: inherit;
}

.Main-stories-navigation-link:hover {
  text-decoration: underline;
}

.Story-page-wrapper {
  text-align: center;
}

.Story-image-wrapper {
  display:block;
  position:relative;
}

.Story-image-wrapper img {
  width: 100%;
  height: 100%;
}

.Story-image-wrapper::before {
  display:block;
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  -moz-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
  -webkit-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
  box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
}

.Story-player {
  border-radius: 50%;
  border-width: 2px;
  color: white;
  background-color: #44538C;
  border-color: #C3E968;
  box-shadow: -1px 1px 1px 0px #CCC;
  margin: 6px;
}

.Story-player-play {
  width: 50px;
  height: 50px;
  font-size: 24px;
}

.Story-player-previous-word {
  width: 46px;
  height: 46px;
  font-size: 22px;
}

.Story-player-next-word {
  width: 46px;
  height: 46px;
  font-size: 22px;
}

.Story-player-previous-page {
  width: 41px;
  height: 41px;
  font-size: 20px;
}

.Story-player-next-page {
  width: 41px;
  height: 41px;
  font-size: 20px;
}

.Story-player:hover {
  background-color: #2e3861 !important;
  border-color: #C3E968 !important;
}

.Carousel-wrapper {
  background-color: white;
}

.Krebbit-tooltip > .tooltip-inner {
  color: white;
  background-color: #29335a;
  border: 1px solid #29335a;
}

 .Krebbit-tooltip > .tooltip-arrow {
  /* border-top: 5px solid #29335a !important; */
  display: none;
 }

 .tooltip::after {
  position: absolute;
  left: 45%;
  top: 75%;
  content: '';
  width: 8px;
  height: 8px;
  background: #29335a;
  transform: rotate(45deg);
}

.about-page-content {
  font-size: 20px;
  color: rgb(68, 68, 68);
  padding: 120px 100px;
}

.Page-desc {
  font-family: "Bubblegum Sans";
  text-align: center;
  color: #44538C;
  margin: 40px 0;
}

.Fixed-div-lenght {
  font-size: 14px;
  height: 100px;
  overflow: scroll;
}

hr.footer-hr {
  border: 2px solid rgb(156, 156, 156);
  border-radius: 4px;
}

.footer-div {
  height: 150px;
  margin: 90px auto 20px auto;
  color: rgb(156, 156, 156);
}

.Story-text-wrapper {
  /* background-color: rgb(225, 248, 194); */
  font-size: 30px;
  position: relative;
  float: right;
  left: -10px;
  margin: 0;
  text-align: justify;
  width: 100%;
  padding: 25px 30px;
  min-height: 540px;;
}

.Story-cover-image-wrapper {
  background-color: white;
}

.Story-cover-image-wrapper img {
  height: 500px;
}

.Story-cover-title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .2rem;
}

.Story-cover-text-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
}

.Story-cover-text-publisher {
  font-size: 12px;
  color: #565757;
}

.Story-text-title-wrapper {
  font-size: 14px;
  letter-spacing: .2rem;
  text-align: center;
  padding: 10px 0;
  color: #565757;
}

.Story-end-wrapper {
  font-size: 72px;
  font-family: cursive;
  color: #44538C;
  text-align: center;
  height: 500px;
  line-height: 500px;
  margin: auto;
}

.Story-repeat-icon {
  font-size: 38px;
  position: relative;
  float: right;
  margin: 0 40px 0 0;
  top: -170px;
  color: rgba(68, 83, 140, 0.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
